@import './variables.css';

body,
input,
button,
textarea,
select {
    font-family: inherit;
}

body > * {
    padding: 0;
    margin: 0;
}

main > *,
.ingradient {
    box-sizing: border-box;
    padding: 0 165px;
}

@media (max-width: 1024px) {
    main > *,
    .ingradient {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    main > *,
    .ingradient {
        padding: 0 24px;
    }
}

a, h1, h2, h3, p {
    font-weight: normal;
    line-height: 140%;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Font Sizes */
.header-0 {
    font-size: var(--header-0);
}

.header-1 {
    font-size: var(--header-1);
}

.header-2 {
    font-size: var(--header-2) !important;
}

.header-3 {
    font-size: var(--header-3);
}

.main--l {
    font-size: var(--main--l);
}

.main--m {
    font-size: var(--main--m);
}

.main--s {
    font-size: var(--main--s);
}

.main--x-s {
    font-size: var(--main--x-s);
}

.header-12 {
    font-size: var(--header-12);
}

.main {
    font-size: var(--main--l);
}

.superheader {
    font-size: var(--header-0);
}

.header {
    font-size: var(--header-1);
}

.subheader {
    font-size: var(--header-3);
}

.quote {
    font-size: var(--header-2);
}

.cardheader {
    font-size: var(--main--m);
}

.switch {
    font-size: var(--header-3);
}

@media (max-width: 1024px) {
    .main {
        font-size: var(--main--m);
    }

    .header {
        font-size: var(--header-3);
    }

    .superheader {
        font-size: var(--header-2);
    }

    .subheader,
    .quote,
    .switch {
        font-size: var(--main--l);
    }

    .cardheader {
        font-size: var(--main--s);
    }
}

@media (max-width: 768px) {
    .main,
    .switch {
        font-size: var(--main--s);
    }

    .superheader {
        font-size: var(--header-3);
    }
}

/* Font Weights */

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/* Colors */

.white {
    color: var(--white);
}

.secondary-white {
    color: var(--secondary-white);
}

.light-blue {
    color: var(--blue-50);
}

.blue-300 {
    color: var(--blue-300);
}

.blue-500 {
    color: var(--blue-500);
}

.dark-blue {
    color: var(--blue-800);
}

.secondary-website {
    color: var(--secondary-website);
}

.border-color-cards {
    color: var(--border-color-cards);
}

/* Backgrounds */

.bg {
    background-color: var(--bg);
}

.bg-blue-gradient {
    background: linear-gradient(0.21deg, var(--blue-300) -48.62%, var(--blue-100) 32.71%, var(--blue-100) 58.07%, var(--blue-300) 133.27%);
}

.bg-blue-300 {
    background-color: var(--blue-300) !important;
}

.bg-transparent-fill-95 {
    background-color: var(--transparent-fill-95);
}

.bg-blue-transparent {
    background-color: var(--blue-transparent-bg);
}

.bg-white {
    background-color: var(--white);
}

.bg-blue-chip {
    background-color: var(--blue-chip);
}

.bg-yellow-chip {
    background-color: var(--yellow-chip);
}

.bg-green-chip {
    background-color: var(--green-chip);
}

.bg-red-chip {
    background-color: var(--red-chip);
}

.bg-coral-chip {
    background-color: var(--coral-chip);
}

.bg-y-100 {
    background-color: var(--yellow-100);
}

/* Shadows */
.shadow-stroke {
    box-shadow: var(--shadow-stroke);
}

/* Buttons */

.outline {
    border: 1px var(--secondary-white);
    border-radius: 16px;
}

.filled {
    background-color: var(--blue-300);
    border-radius: 16px;
}

/* Borders  */

.border {
    border: 1px solid #FFFFFF33;
    border-radius: 16px;
}

.border-cards {
    border: 1px solid var(--border-color-cards);
    border-radius: 16px;
}

.border-top {
    border-top: 1px solid var(--blue-transparent-bg);
}

.border-bottom {
    border-bottom: 3px solid var(--border-color-cards);
}

.border-bottom-blue-300 {
    border-bottom: 3px solid var(--blue-300);
}